* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* container body */
#todoBody {
    margin-bottom: 5px;
    width: 40vw;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
}

/* label  */
.form-label {
    font-weight: 600;
    text-transform: uppercase;
}

/* validate using '*' marks  */
#titleValidation {
    font-weight: 600;
    font-size: 15px;
}

/* add button  */
#submitBtn {
    width: 100%;
}

/* view button  */
.btn-view {
    width: 35px;
    text-transform: uppercase;
    height: 35px;
    width: 35px;
    border: none;
    position: relative;

    abbr i {
        position: absolute;
        top: 30%;
        left: 25%;
    }
}

/* mark-view-delete button  */
#manupulateButton {
    display: flex;
    justify-content: space-evenly;

    i {
        cursor: pointer;
    }
}

/* show todos */
#output {
    height: auto;
    max-height: 25vh;
    position: relative;
    overflow-x: auto;

    img {
        height: 24vh;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    hr:last-child {
        display: none;
    }
}

span {
    font-size: 12px;
}

@media screen and (max-width : 1072px) {
    #output img {
        height: 22vh;
    }
}

@media screen and (max-width : 768px) {
    * {
        font-size: 13px;
    }

    .btn-view  abbr i {
            left: 30%;
    }

    #output {
        max-height: 24vh;

        img {
            height: 15vh;
        }

        .row .col:nth-child(2) {
            .btn-view {
                margin-top: 10px;
            }
        }

        hr {
            margin-top: 10px;
        }
    }
}

@media screen and (max-width : 426px) {
    #todoBody {
        width: 60vw;
        padding: 10px;
    }

    #output {
        max-height: 32vh;

        img {
            height: 25vh;
        }
    }
}
